// White
$white: #ffffff;
$white-soft: #f8f8f8;
$white-mute: #f2f2f2;

// Black
$black: #181818;
$black-soft: #222222;
$black-mute: #282828;

// Green
$green-100: #b4e4cd;
$green-300: #008351;

:root {

  // Gray
  --gray-100: #ededed;
  --gray-150: #e2e2e2;
  --gray-200: #dfdfdf;
  --gray-250: #d4d4d4;
  --gray-300: #c7c7c7;
  --gray-400: #888888;
  --gray-500: #595956;
  --gray-600: #333333;

  // Green
  --green-100: #b4e4cd;
  --green-300: #008351;

  // Red
  --red-300: #c62828;

  // Orange
  --orange-300: #e65100;

  // Yellow
  --yellow-100: #fbe1b7;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}