// -- Radius
// Ex.: border-radius: $radius-none;
$radius-none: 0;          // 0px
$radius-sm: 0.5rem;     // 8px
$radius-normal: 1rem;  // 16px
$radius-md: 1.5rem;     // 24px
$radius-lg: 2rem;       // 32px
$radius-xl: 3rem;     // 48px
$radius-full: 9999px;     // rounded

// -- Fonts weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;


// -- Size
// Ex.: font-size: $text-sm;
$text-2xs: 0.5rem;     // 8px
$text-xs: 0.75rem;     // 12px
$text-sm:	0.875rem;    // 14px
$text-md:	1rem;     // 16px
$text-lg:	1.125rem;   // 18px
$text-xl:	1.25rem;    // 20px
$text-2xl: 1.5rem;    // 24px